#calc {
    border: 1px solid black;
}

.light-gray {
    background-color: #f1f3f4;
    color: #202124;
    border: 1px solid #f1f3f4;
}

.dark-gray {
    background-color: #dadce0;
    color: #202124;
    border: 1px solid #f1f3f4;
}

#equals {
    border: 1px solid #f1f3f4;
    background-color: #4285f4;
    color: #ffffff;
}

#calc, .light-gray, .dark-gray, #equals {
    padding: 0.5rem;
    border-radius: 4px;
    margin: 0.01px;
}